@using malone.Core.Sample.EF.Firebird.mvc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row mt-5">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserNameOrEmail, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserNameOrEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="text-right">
                                        <input type="submit" value="Log in" class="btn btn-outline-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-muted">
                    <p class="m-0 p-0 font-weight-bold">Log in with:</p>
                    <p class="m-0 p-0">User: admin / Password: admin.1234</p>
                    <p class="">User: user / Password: user.1234</p>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality*@
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}